<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/user.css}">
	<title>로그인</title>

</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%" align="center">

<div class="card align-middle" style="width:20rem; border-radius:20px;" >
	<div class="card-title" style="margin-top:30px;">
		<h2 class="card-title text-center" style="color:#113366;">Memong</h2>
	</div>
	<div class="card-body">
		<form class="form-signin" method="POST" action="/loginProcess">
			<h5 class="form-signin-heading">로그인 정보를 입력하세요.</h5>
			<label for="inputEmail" class="sr-only">Your ID</label>
			<input type="text" id="username" name="username" class="form-control" placeholder="Your ID" required autofocus><BR>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required><br>
			<div class="checkbox">
				<label>
					<input type="checkbox" id="save" value="remember-me"> 아아디 기억하기
				</label>
			</div>
			<button id="btn-Yes" class="btn btn-lg btn-info btn-block" type="submit">로 그 인</button>
			<button id="btn-join" class="btn btn-lg btn-info btn-block" onclick="location.href='/user/join'" >회원가입</button>
			<div id="naverIdLogin"></div>
		</form>
	</div>
</div>

<div class="modal">
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{/js/cookie.js}"></script>
<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
<script>
	$(document).ready(function(){
		var userName = getCookie("userName");

		$("#username").val(userName);

		if($("#username").val() != "") {
			$("#save").attr("checked", true);
		}

		$("#save").change(function () {
			if($("#save").is(":checked")){
				var userName = $("#username").val();
				setCookie("userName", userNameame, 7) // 7일 동안 쿠키 보관
			}else{
				deleteCookie("userName");
			}
		});

		$("#username").keyup(function () {
			if ($("#save").is(":checked")){
				var userName = $("#username").val();
				console.log(userName);
				setCookie("userName", userName, 7);
			}
		});

	});

	var naverLogin = new naver.LoginWithNaverId(
			{
				clientId: "IpnCVqkJfl29S0R2wi41",
				callbackUrl: "http://localhost:8080/user/loginNaver",
				isPopup: false,
				loginButton: {color: "green", type: 3, height: 60}

			}
	);

	naverLogin.init();

</script>
</body>
</html>